<html>
<head>
  <title>View Poll</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script>
    function tweetPoll() {
      console.log("tweet poll...");
      var pollQuestion = "<%- pollQuestion %>";
      var pollId = "<%- pollId %>";
      var pollUrl = "http%3A%2F%2Flocalhost%3A8080%2FviewPoll%2F" + pollId;
      console.log(pollQuestion);
      var tweetURL = 'http://twitter.com/intent/tweet?text='+pollQuestion+escape('\n')+'Vote at: &url='+pollUrl;
      window.open(tweetURL);
    }
  </script>
  <% include ../partials/header %>
</head>
<body>
  <h1 id="page-title">View Poll</h1>
  <br>
  <br>
  <br>
  <div id="view-poll">
    <h2><%= pollQuestion %></h2>
    <% for (var i=0; i < pollChoices.length; i++) { %>
      <form action="/answerPoll" method="post">
        <input type="hidden" name="pollId" value="<%= pollId %>">
        <input type="hidden" name="choiceIndex" value="<%= i %>">
        <input type="submit" value="<%= pollChoices[i] %>">
      </form>
      <br>
    <% } %>
  </div>
  <br>
  <div id="tweet-poll">
    <button type="button" onclick="tweetPoll()">Tweet This Poll!</button>
  </div>
</body>
</html>